<!DOCTYPE html>
<html>
<head>
  <title>Mail</title>
  <meta charset="UTF-8">   
  <script type="text/template" id="coltmp">
  </script>
  <script type="text/template" id="modeltmp">  
    <div class="col-xs-3">
      {{= model.from }}
    </div>
    <div class="col-xs-3">
      {{= model.date }}
    </div>
    <div class="col-xs-3">
      {{= model.subject }}
    </div>
    <div class="col-xs-3">
      {{= model.text }}
    </div>
  </script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>  
  <link rel="stylesheet" href="libs/bootstrap-3.1.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="libs/reveal.css">
  <script type="text/javascript" src = "libs/jquery-2.0.3.js"></script>   
  <script type="text/javascript" src = "libs/jquery.reveal.js"></script>
  <script type='text/javascript'>
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
            }
        });
  </script>  
  <script type="text/javascript" src = "libs/underscore-min.js"></script>
  <script type='text/javascript' src = "libs/ASP-Mustache.js"></script>   
  <script type="text/javascript" src = "libs/backbone-min.js"></script>
  <script type="text/javascript" src = "libs/backbone-mediator.js"></script>
  <script type="text/javascript" src = "libs/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src = "js/MailModel.js"></script>
  <script type="text/javascript" src = "js/MailModelView.js"></script>
  <script type="text/javascript" src = "js/MailCollection.js"></script>
  <script type="text/javascript" src = "js/MailCollectionView.js"></script>
  <script type="text/javascript" src = "js/main.js"></script>
  <script type="text/javascript" src = "js/modals.js"></script>
</head>

<body>
<div id="container">
  <div class="row">
    <div class="col-xs-1" id = "leftCol">
      <div class="btn-group btn-group-vertical">
        <div class="btn btn-default btn-danger" id="newLetter">Написать</div>
        <div class="btn btn-default btn-success" id="incoming">Входящие</div>
        <div class="btn btn-default btn-success" id="outputing" >Исходящие</div>
      </div>
    </div>
    <div class="col-xs-11" id="rightCol">
      <div class="btn-group btn-group-justified">
        <div class="btn btn-default btn-lg" id="sortByAuthor">Автор</div>
        <div class="btn btn-default btn-lg" id="sortBySubject">Тема</div>
        <div class="btn btn-default btn-lg" id="sortByDate">Дата</div> 
      </div>
      <div class="row" id="table">
      </div>
    </div>
  </div>
</div>

<%= yield %>

<div id="myModal" class="reveal-modal">
  <h1>Письмо</h1>
  <div class="row">
    <div class="col-xs-6">
      <p>From</p>
      <p>Email</p>
      <p>To</p>
      <p>Date</p>
      <p>Subject</p>
      <p>Text</p>
    </div>
    <div class="col-xs-6">
      <p id="from"></p>
      <p id="email"></p>
      <p id="to"></p>
      <p id="date"></p>
      <p id="subject"></p>
      <p id="text"></p>
    </div>
  </div>        
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="newLetterModal" class="reveal-modal">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">From</span>
        <input type="text" class="form-control" id="new_letter_from">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="text" class="form-control" id="new_letter_email">
      </div>
      <div class="input-group">
        <span class="input-group-addon">To</span>
        <input type="text" class="form-control" id="new_letter_to">
      </div>     
      <div class="input-group">
        <span class="input-group-addon">Subject</span>
        <input type="text" class="form-control" id="new_letter_subject">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Text</span>
        <textarea class="form-control" id="new_letter_text"></textarea>        
      </div>
      <div class="btn btn-info pull-right" id="save">Save</div>
    </div>  
  </div>   
  <a class="close-reveal-modal">&#215;</a>
</div>

</body>
</html>
